h2 {
	color: red;
}

#buttons{
	font-family: helvetica;
	text-align: center;
	margin: 10px;
	width: 80%;
}

#greenButton {
	width: 100px;
	height: 75px;
	background-color: green;
	color: white;
	margin: 10px;
}

#redButton {
	width: 100px;
	height: 75px;
	background-color: red;
	color: white;
	margin: 10px;
}

#blueButton {
	width: 100px;
	height: 75px;
	background-color: blue;
	color: white;
	margin: 10px;
}

#yellowButton {
	width: 100px;
	height: 75px;
	background-color: yellow;
	/*color: white;*/
	margin: 10px;
}