/*Paul Richard*/
h1,
h2,
p {
	text-align: center;
}

p {
	font-size: 1.5em;
}

#greenButton {
	width: 120px;
	height: 120px;
	background: url(assets/green_crystal.png);
	color: white;
	margin: 0 auto;
	display: inline-block;
}

#redButton {
	width: 120px;
	height: 120px;
	background: url(assets/red_crystal.png);
	color: white;
	margin: 0 auto;
	display: inline-block;
}

#blueButton {
	width: 120px;
	height: 120px;
	background: url(assets/blue_crystal.png);
	color: white;
	margin: 0 auto;
	display: inline-block;
}

#yellowButton {
	width: 120px;
	height: 120px;
	background: url(assets/yellow_crystal.png);
	/*color: white;*/
	margin: 0 auto;
	display: inline-block;
}
 /*On-click animation:*/

#yellowButton:active {
	transform: translateY(10px);
}

#blueButton:active {
	transform: translateY(10px);
}

#redButton:active {
	transform: translateY(10px);
}

#greenButton:active {
	transform: translateY(10px);
}

body {
	background: url(assets/backgroundTile.png);
}

#randomNumber,
#currentGuess {
	color: red;
}